{% extends 'list.html' %}
{% load static %}
{% block head_list %}
<script src="{% static 'category/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
<tr>
   <th scope="col" style="width: 10%">Num</th>
   <th scope="col" style="width: 35%">Nombre</th>
   <th scope="col" style="width: 35%">Descripcion</th>
   <th scope="col" style="width: 20%">Opciones</th>
</tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}
<!-- Si no quiero que se ejecute -->
{% endblock %}
